.text-muted {
    color: #6c757d !important;
    background: antiquewhite;
    width: fit-content;
    border-radius: 5px;
}
a {
    color: white;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;